/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: global font & link settings */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
